@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: "Reddit Sans", sans-serif;
}

.wimg {
  height: 40px;
  position: absolute;
  top: 20px;
  left: 48px;
}

.nav {
  height: 50px;
  width: 100%;
  border: solid 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  transition: top 0.3s ease;
  z-index: 1000;
}

.main-nav:hover {
  background-color: white;
}

.nav-primary {
  font-family: "Reddit Sans", sans-serif;

  gap: 350px;
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    svg:hover {
      transform: scale(1.1);
      transition: all 0.1s ease;
    }
    p {
      position: relative;
      top: 8px;
    }
  }
}

.bi-search {
  position: absolute;
  left: 557px;
  top: 17.5px;
}

.input {
  border-radius: 30px;
  height: 70%;
  width: 30%;
  border: 1px solid;
  margin-left: 140px;
  .is {
    position: absolute;
    left: 600px;
    top: 12.5px;
    height: 25px;
    width: 300px;
    border: 0;
    outline: none;
    background-color: transparent;
  }
}

.nav-secondary {
  font-family: "Reddit Sans", sans-serif;
  gap: 20px;
  position: relative;
  .sec-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    svg{
      position: relative;
      bottom: 6px;
    }
  }

  .sec-item:hover svg {
    transform: rotate(180deg);
    transition: transform 0.2s linear;
  }
}

.primary-para {
  font-size: 1rem;
}

.primary-para:hover {
  cursor: pointer;
}

.drop {
  height: auto;
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: white;

  li {
    list-style: none;
    color: gray;
  }

  .navimg {
    display: flex;

    div {
      margin-left: 30px;
    }
  }

  .navlist {
    display: flex;
    gap: 20px;

    .nav2{
        display: flex;
        gap: 50px;
        font-size: 15px;
    }
  }

  .nav-footer {
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    color: gray;
  }

  .nav-footer li:hover {
    text-decoration: underline;
  }
}

.drop li:hover {
  text-decoration: underline;
}

.dropbtn:hover .drop {
  display: block;
}

#one {
  position: absolute;
  top: 400px;
  left: 100px;
  a:nth-child(2) {
    background-color: rgb(68, 67, 67);
  }

  p {
    rotate: 270deg;
  }
}

#two {
  position: absolute;
  top: 1110px;
  left: 100px;
  a:nth-child(3) {
    background-color: rgb(68, 67, 67);
  }

  p {
    rotate: 270deg;
  }
}

#tree {
  position: absolute;
  top: 1825px;
  left: 100px;
  a:nth-child(4) {
    background-color: rgb(68, 67, 67);
  }

  p {
    rotate: 270deg;
  }
}

#four {
  position: absolute;
  top: 2540px;
  left: 100px;
  a:nth-child(5) {
    background-color: rgb(68, 67, 67);
  }

  p {
    rotate: 270deg;
  }
}

#five {
  position: absolute;
  top: 3250px;
  left: 100px;
  a:nth-child(6) {
    background-color: rgb(68, 67, 67);
  }

  p {
    rotate: 270deg;
  }
}

#six {
  position: absolute;
  top: 3960px;
  left: 100px;
  a:nth-child(6) {
    background-color: rgb(68, 67, 67);
  }
}

.indicator {
  height: fit-content;
  width: 20px;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  a {
    height: 7.5px;
    width: 7.5px;
    background-color: gray;
  }
}

.bd-highlight0 {
  width: 90%;
  display: flex;
  justify-content: center;

  margin-left: 150px;
}

.bd-highlight1 {
  display: flex;
  gap: 20px;
  margin-left: 50px;
}

.bd-highlight2 {
  display: flex;
  gap: 20px;
}

.bd-highlight01 p {
  font-size: 15px;
}

.bd-highlight02 p {
  font-size: 15px;
}

.bd-highlight03 p {
  font-size: 15px;
}

.inputsub {
  border: 0;
  outline: none;
  width: 250px;
  margin-top: 50px;
  font-size: 20px;
}

.sub {
  background-color: black;
  color: white;
  width: 250px;
  height: 50px;
  margin-top: 30px;
}
